.DS_Store
*~
build
Build
Products
xcuserdata/
*.pbxuser
*.perspectivev3
*.mode1v3
config
.svn
*.pyc
.DS_STORE
*~
build/*
*.pbxuser
*.perspectivev3
.svn
libcodea*.a
libtools*.a
libcodea*.a.gz
libtools*.a.gz
libversion